Source: php5-fcgi 
Section: extra
Priority: optional
Maintainer: Igor Shishkin <mail@teran.me>
Vcs-Git: git://github.com/teran/packages.git
Vcs-Browser: https://github.com/teran/packages

Package: php5-fcgi
Section: extra
Priority: optional
Architecture: all
Depends: php5-cgi, spawn-fcgi, psmisc
Description: init script to run php-cgi as fcgi daemon
 .
