Source: utorrent-server
Section: extra
Priority: optional
Maintainer: Igor Shishkin <mail@teran.me>
Vcs-Git: git://github.com/teran/packages.git
Vcs-Browser: https://github.com/teran/packages

Package: utorrent-server
Section: extra
Priority: optional
Architecture: any
Depends: libc6, libgcc1, libssl0.9.8, zlib1g
Description: uTorrent daemon for linux
 .

