Source: utorrent-server
Section: extra
Priority: optional
Maintainer: Igor Shishkin <me@teran.ru>

Package: utorrent-server
Section: extra
Priority: optional
Architecture: any
Depends: libc6, libgcc1, libssl0.9.8, zlib1g
Description: uTorrent daemon for linux
 .

